    <!-- banner -->
    <div class="inner-banner">
        <!-- header -->

<!-- //header -->
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">About <span> Us</span></h2>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="images/g1.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<h4>Lorem Ipsum convallis diam</h4>
						<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
							pulvinar neque pharetra ac.</p>
						<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
							pulvinar neque pharetra ac.Nullal condimentum interdum vel eget enim. Curabitur mattis orci sed le. Nullal condimentum interdum vel eget enim. Curabitur mattis orci sed le.</p>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

 <!-- stats -->
    <section class="agile_stats py-sm-5">
        <div class="container">
            <div class="py-lg-5 w3-abbottom">
                <div class="row py-5">
                    <div class="counter col-lg-3 col-6">
                        <span class="fa fa-smile-o"></span>
                        <h4 class="timer mt-2">5,100</h4>
                        <p class="count-text text-capitalize text-white">HAPPY STUDENTS</p>
                    </div>

                    <div class="counter col-lg-3 col-6">
                        <span class="fa fa-fighter-jet"></span>
                         <h4 class="timer mt-2">971</h4>
                        <p class="count-text text-capitalize text-white">BRANCHES</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                        <span class="fa fa-users"></span>
                        <h4 class="timer mt-2">21</h4>
                        <p class="count-text text-capitalize text-white">TEACHERS</p>
                    </div>
                    <div class="counter col-lg-3 col-6 mt-lg-0 mt-4">
                       <span class="fa fa-comments"></span>
                         <h4 class="timer mt-2">27</h4>
                        <p class="count-text text-capitalize text-white">QUESTIONS ANSWERED </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
<!-- team -->
	<div class="team py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h3 class="heading-agileinfo text-center pb-4">Our <span> Teachers</span></h3>
            </div>
			<div class="row team-bottom">
				<div class="col-sm-4 team-grid">
					<img src="images/t1.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Carol</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<span class="fa fa-facebook f1"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-twitter f2"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-google-plus f3"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 team-grid mt-sm-0 mt-3">
					<img src="images/t2.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Ellas</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<span class="fa fa-facebook f1"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-twitter f2"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-google-plus f3"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 team-grid  mt-sm-0 mt-3">
					<img src="images/t3.jpg" class="img-fluid img-thumbnail" alt="">
					<div class="caption">
						<div class="team-text">
							<h4>Julia</h4>
						</div>
						<ul>
							<li>
								<a href="#">
									<span class="fa fa-facebook f1"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-twitter f2"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-google-plus f3"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
<!--footer-->
	