<div class="container-fluid my-3 p-4">
    <h1>Hello</h1>


    <div class="container">
        <a class="btn-block btn-info btn btn-primary" type="button" href='Admin/login'>Admin</a><br>
        <a class="btn-block btn-info btn btn-primary" href='Student' type="button">Student</a>
    </div>
</div>